/*ESTILO GENERALES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $blanco;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    background-color: $negro;

    h1 {
        display: none;
    }

    .titulo {
        font-size: 2.5rem;
        font-weight: 43.75rem;
        text-align: center;
    }
    
    .subTitulo {
        font-size: 1.25rem;
        font-weight: 43.75rem;
        text-align: center;
    }

    .espaciado {
        padding-top: 7.5rem;
    }
    
    .logo {
        height: 4.61rem;
        width: 14.12rem;

        @media (max-width: 576px) {
            height: 2.8rem;
            width: 7.6rem;
        }
    }
}

$fondos:(
    negro: $negro,
    blanco: $blanco,
    verde: $verde
);

@each $fondo, $color in $fondos {
    .bg-#{$fondo} {
        background-color: $color;
    }
}

@mixin espaciado {
    padding-top: 7.5rem;
}

/*FOOTER*/

footer {
    width: 100%;
    padding-top: 3px;
    background: $gradiente-verde;

    ul li {
        display: inline-block;
        padding: 10px;
        margin: auto;

        @media (max-width: 768px) {
            display: none;
        }
    }

    div {
        width: 100%;
        margin: auto;
        background: $negro;
        align-items: center;
        text-align: center;
        vertical-align: middle;

        img {
            margin-top: 1.87rem;
        }

        div {
            height: 40px;
            width: 40px;
            margin: auto;
            

            a {
                margin: 5px;

                i {
                    font-size: 30px;
                    padding: 10px;
                    color: $blanco;
                    transition: font-size 0.3s;

                    &:hover {
                        font-size: 35px;
                    }
                }
            }
        }
        p.der-reservados {
            font-size: 0.625rem;
            padding: 10px;

            @media (max-width: 768px) {
                margin: 0;
            }
        }
    }
}

