.ep-destacado {
    padding-bottom: 40px;
    background: $gradiente-rojo;
    margin-bottom: 5px;
    @include espaciado;

    h2 {
        margin-bottom: 15px;
    }

    .reproductor {
        margin: auto;
        border: solid $blanco 1px;
        width: 80vw;
        display: flex;

        @media (max-width: 576px) {
            flex-direction: column;
        }

        div {
            margin: 20px;

            p {
                font-size: 1em;
            }
        }

        .rep-iconos{
            display: flex;
            flex-direction: column;

            @media (max-width: 576px) {
                flex-direction: row;
                align-content: center;
                align-items: center;
            }

            a i {
                font-size: 30px;
                margin: 10px;
            }
        }
    }
}

$episodio:(
    amarillo: $gradiente-amarillo,
    morado: $gradiente-morado,
    turquesa: $gradiente-turquesa
);

@each $episodio, $color in $episodio {
    .ep-#{$episodio} {
        background: $color;
    }
}

.plataformas {
    margin: 40px auto;
    display: flex;

    div{
        height: 60px;
        width: 60px;
        margin: 40px;

        a img {
            height: 50px;
            width: 50px;
            transition: height 0.3s, width 0.3s;

            &:hover {
                height: 60px;
                width: 60px;
            }
        }
    }
}